{
  "extends": "stylelint-config-recommended",
  "rules": {
    "selector-nested-pattern": "^&",
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": [
          "global"
        ]
      }
    ]
  },
  "files.associations": {
    "*.css": "postcss"
  },
  "prettier.stylelintIntegration": true
}