html {
  font-size: 1px; /*for using REM units*/
}

body {
  font: 400 16rem/1.4 "Kumbh Sans", sans-serif;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
