html {
  font-size: 1px; /*for using REM units*/
}

body {
  font: 400 16rem/1.4 "Kumbh Sans", sans-serif;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@each $h, $size in (h1, h2, h3, h4), (28rem, 24rem, 20rem, 16rem) {
  .title-$(h) {
    font: 700 $size/1.2 "Kumbh Sans", sans-serif;
    color: var(--title-primary-color);
  }
}
