@define-mixin container {
  max-width: 1800px;
  width: 90%;
  margin: 0 auto;
  padding: 0 15px;
}
@define-mixin container-details {
  max-width: 760px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@define-mixin flex-justify-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@define-mixin fullsizediv {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@define-mixin size $w, $h{
  width: $w;
  height: $h
}